.footer-logo {
  margin-bottom: 30px;
}

.address {
  margin-bottom: 20px;
}
.address-list-link {
  color: #fff;
}
.footer-logo-web {
  color: #2196f3;
}
.footer-logo {
  color: #ffffff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  margin-top: 10px;
}
.address-list {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer-contacts-list-link {
  color: #ffffff99;
}
.social-iteam-footer:hover {
  background-color: #2196f3;
}
.icon-team-footer {
  fill: #ffffff;
}
.icon-team-footer {
  width: 20px;
}
/* ===================================text====================================================== */
.footer-text {
  float: right;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 116px;
  height: 16px;
  margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .container {
    min-width: 320px;
  }
  .container.responsive {
    max-width: 1140px;
  }
  .container.adaptive {
    max-width: 320px;
  }
  .address {
    margin-bottom: 20px;
  }
  .address-list-link {
    color: #fff;
  }
  .social-iteam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  .social-iteam:hover {
    background-color: #2196f3;
  }
  .social-iteam:hover .icon-team {
    fill: #ffffff;
  }
  .team-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .meil-text {
    float: right;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.input-meil {
    display: flex;
    margin-top: 10px;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.30);
    float: right;
    align-items: center;
}
.team-social-list-footer {
  display: flex;
  float: right;
    width: 206px;
    height: 44px;
    gap: 10px;
    justify-content: center;
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f303a;
}