.nav-list-link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-list-link:hover {
  color: #2196f3;
}
.contact-list-link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #737373;
  display: flex;
  align-items: center;
}
.icon-link {
  margin-right: 10px;
}
.contact-list-link-li {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #737373;
}
.contact-list-link-li:hover .contact-list-link {
  color: #2196f3;
}
.contact-list-link-li:hover .icon-link {
  fill: #2196f3;
}
.header-nav {
  display: flex;
}
.contact-list {
  display: flex;
  padding-top: 7px;
  column-gap: 50px;
  margin-left: auto;
}
.nav-list {
  display: flex;
  column-gap: 50px;
}
.nav-list-link {
  text-decoration: none;
}
.footer-logo {
  margin-bottom: 30px;
}
