.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f303a;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo-web {
    color: #2196f3;
  }
  .footer-logo {
    color: #ffffff;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    margin-top: 10px;
  }
  .address-list {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .footer-contacts-list-link {
    color: #ffffff99;
  }
  .team-social-list-footer {
    float: right;
    display: block;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  .social-iteam-footer {
    display: flex;
    background-color: #ffffff1a;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  .social-iteam-footer:hover {
    background-color: #2196f3;
  }
  .icon-team-footer {
    fill: #ffffff;
  }
  .icon-team-footer {
    width: 20px;
  }
  /* ===================================text====================================================== */
  .footer-text {
    float: right;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 116px;
    height: 16px;
  
    margin-bottom: 20px;
  }
  .team-social-list-footer {
    display: flex;
    width: 206px;
    height: 44px;
    gap: 10px;
    margin-left: 516px;
    
  }